* {
    margin: 0;
    padding: 0;
}

body {
    margin: 8px
}

/* ヘッダー */

h1, h2 {
    text-align: center;
}

/* メイン */

.grid {
    display: grid;
    grid-template-columns: repeat(4, calc((100vw - 8px) / 4));
    grid-template-rows: repeat(5, calc((100vw - 8px) / 4));
    place-content: center;
}

.grid div {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 2px solid transparent;
    margin: auto;
    display: flex;
    place-content: center;
}

img {
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
}


p {
    text-align: center;
    line-height: 3em;
}

button {
    display: block;
    border: 2px solid #F48932;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px;
    margin: 0 auto;
    width: 60vw;
    text-align: center;
}

button:hover {
    background-color: #F48932;
}

/* js */

.disappear {
    visibility: hidden;
}

.choose {
    border-color: #F48932 !important;
    cursor: pointer;
}

.chosen {
    background-color: #F9C295;
}

.answer {
    background-color: #F48932;
}

.correct {
    background-color: #FF4000;
}

.initial {
    background-color: transparent;
}

.pointer-none {
    pointer-events: none;
}

/* モバイルファーストでつくる！ */